<div>
    <div class="container-fluid">
        <div class="row">

            {{#each pro}}
            <div class="col-md-4 mt-5">
                <div class="card m-auto" style="width: 18rem;">
                    <img class="card-img-top" src="/Admin_image/{{this.id}}.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <p>Last Price : {{this.price}} ₹</p>
                        <a href="/buy" class="btn btn-success ml-2">Buy_Now</a>
                        <a href="/remove?id={{this._id}}" class="btn btn-danger ml-5">Remove</a>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
        <div class="row">
            <div class="col-md-12 mt-5">
                <div style=" text-align: center;">
                    <a href="/buy" class="btn btn-success m-5">Buy All Products..</a>
                </div>
            </div>
        </div>
    </div>
</div>